* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  color: #3f51b5;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #303f9f;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #1e293b;
}

button {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

